@mixin reset(){
    margin:0;
    padding:0;
}

*{@include reset;}

@mixin css_container($h_medidas,$l_medidas){
  height:$h_medidas;
  width:$l_medidas;
  border-radius: 5px;
}

div{
  .container{
    @include css_container(95%,95%);
  }
}
